*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}


body{
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
 
 
}
.app-container{
  height: 80vh;
  width: 80vw;
  /* background-color: blue; */
}